numpy>=1.23,<2
pandas==1.5.3
scikit-learn==1.1.3
scipy>=1.9,<1.12

matplotlib==3.6.3
seaborn==0.13.2

tqdm>=4.64
PyYAML==6.0.1

deap==1.4.1

ray==2.9.3
GPUtil
nvidia-ml-py
pathos

jupyter

protobuf>=3.20,<4
mlflow==2.17.2
pydantic==1.10.13
pyarrow==17.0.0